<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>상품 리스트 출력 예제</h1>
	<table border="1">
		<thead>
			<tr>
				<th>순번</th><th>상품명</th><th>가격</th><th>상품설명</th><th>등록일</th><th>등록일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="itemDto : ${itemDtoList}" th:if="${itemDto.id} % 2 == 0">
				<td th:text="${itemDto.id}">
				<td th:text="${itemDto.itemNm}">
				<td th:text="${itemDto.price}">
				<td th:text="${itemDto.itemDetail}">
				<td th:text="${#temporals.format(itemDto.regTime, 'yyyy-MM-dd')}">
				<!-- 인라인 표기 -->
				<td>[[${#temporals.format(itemDto.regTime, 'yyyy-MM-dd')}]]</td>
			</tr>
		</tbody>
	</table>
</body>
</html>