<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  layout:decorate="~{layouts/layout1}">
	  
	<meta charset="UTF-8">
	
	<div layout:fragment="content" class="content">
		<h2>글쓰기</h2>
		<form th:action="@{/board/insertBoard}" method="post"  enctype="multipart/form-data">
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
		<table class="table my-3">
			<tr class="form-group">
				<td>제목</td>
				<td><input type="text" name="title" class="form-control"></td>
			</tr>
			<tr>
				<td>글쓴이</td>
				<td sec:authentication="principal.member.name"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td >
					<textarea class="form-control" rows="8" name="content"></textarea>
				</td>
			</tr>
			<tr>
				<td>파일 업로드</td>
				<td >
					<input type="file" name="uploadFile" class="form-control" id="title"
			    		   placeholder="제목 입력">
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button type="submit" class="btn btn-success">글쓰기</button>&nbsp;&nbsp;&nbsp;
					<button type="reset" class="btn btn-danger">취소</button>&nbsp;&nbsp;&nbsp;
					<a th:href="@{/board/getBoardList}"><button type="button" class="btn btn-primary">목록보기</button></a>&nbsp;&nbsp;&nbsp;
				</td>
			</tr>
	</table>
	</form>
	</div>
	

</html>