<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
	<div th:fragment="header">
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/}">HiWeb</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:href="@{/member/signUp}" sec:authorize="isAnonymous()">회원가입</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/member/logout}" sec:authorize="isAuthenticated()"><font color="skyblue"><b>[<span sec:authentication="principal.member.name"></span>] </b></font>님 로그아웃</a>
                </li>
                <li class="nav-item">
                	<!-- #authentication.getPrincipal().getUsername() -->
                    <a class="nav-link" th:href="@{/member/userInfoLogin}" sec:authorize="isAuthenticated()">나의 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/board/getBoardList}" sec:authorize="isAuthenticated()">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/adminPage}" sec:authorize="hasRole('ROLE_ADMIN')">관리자 페이지</a>
                </li>
            </ul>
        </div>
    </nav>
	</div>
</html>