<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 읽기</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<div id="container">
		<h2>글 상세 보기</h2>
		<form th:action="@{updateBoard}" method="post">
			<input type="hidden" name="seq" th:value="${board.seq}">
			<table border="1" style="text-align:center">
				<tr>
					<td>제목</td>
					<td><input type="text" name="title" th:value="${board.title}" size="45"></td>
				</tr>
				<tr>
					<td>작성자</td>
					<td><input type="text" name="writer" th:value="${board.writer}" readonly="readonly" size="45"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td><textarea name="content" rows="10" cols="50" th:text="${board.content}"></textarea></td>
				</tr>
				<tr>
					<td>작성일</td>
					<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
				</tr>
				<tr>
					<td colspan="2">
						<button type="submit">글 수정</button>&nbsp;&nbsp;
						<a  th:if="${session['member'].role} == 'ROLE_ADMIN'"
							th:href="@{/deleteBoard(seq=${board.seq})}" 
							onclick="return confirm('정말로 삭제하시겠습니까?')">
							<button type="button">글 삭제</button>
						</a>&nbsp;&nbsp;
						<a th:href="@{/getBoardList}"><button type="button">글 목록</button></a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>