<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>메인 페이지</title>
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
	<div id="container">
		<h2>글쓰기</h2>
		<form th:action="@{insertBoard}" method="post">
		<table border="1" style="text-align:center;">
			<tr>
				<td>제목</td>
				<td><input type="text" name="title" size="45"></td>
			</tr>
			<tr>
				<td>작성자</td>
				<td><input type="text" name="writer" th:value="${session['member'].name}" readonly size="45"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea name="content" rows="10" cols="50"></textarea></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button type="submit">새글 등록</button>&nbsp;&nbsp;
					<button type="reset">다시 작성</button>&nbsp;&nbsp;
					<a th:href="@{/getBoardList}"><button type="button">목록 보기</button></a>&nbsp;&nbsp;
				</td>
			</tr>
		</table>
		</form>
	</div>
</body>

</html>